<!DOCTYPE html>
<html lang="en">
  

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script type="text/javascript" src="/static/js/get_all.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <!--<h2 class="logo"><a href="#">LOREM</a></h2>-->
        <img src="/static/image/UNION.png" width="108" height="78">
        <ul class="all-links">
          <li><a href="/">Inicio</a></li>
          <li><a href="/inicio">Inicia Sesion</a></li>
          <li><a href="/registro">Registrate</a></li>
          <li><a href="/mejora">Mejora tu Empresa</a></li>
        </ul>
      </nav>
    </header>

    <section class="services" id="services" style="padding-top: 120px;">
      <p>Revisa todas las empresas</p>
      <ul class="cards">

      </ul>
    </section>

    <footer>
      <div>
        <span>Copyright © 2023 All Rights Reserved</span>
        <span class="link">
            <a href="/">Inicio</a>
        </span>
      </div>
    </footer>
    <script>
      document.body.onload = getAll();
    </script>
  </body>
</html>
