<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil de la Empresa</title>
    <link rel="stylesheet" href="../static/css/perfilusuario.css">
</head>
<body>

    <div class="company-profile">
        <div class="logo">
            <img src="company_logo.jpg" alt="Logo de la empresa">
        </div>
        <div class="info">
            <h1>Nombre de la Empresa</h1>
            <p><b>Correo electrónico:</b> info@empresa.com</p>
            <p><b>Teléfono:</b> 123-456-7890</p>
            <h2>Información adicional</h2>
            <ul>
                <li><b>Sector:</b> Tecnología</li>
                <li><b>Ubicación:</b> Ciudad, País</li>
                <li><b>Año de fundación:</b> 2000</li>
                <li><b>Misión:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            </ul>
        </div>


    <div class="services">
        <h2>Servicios</h2>
        <ul>
            <li>Servicio 1</li>
            <li>Servicio 2</li>
            <li>Servicio 3</li>
        </ul>
    </div>

    <div class="projects">
        <h2>Proyectos Recientes</h2>
        <div class="project">
            <h3>Nombre del Proyecto</h3>
            <p><b>Descripción del proyecto.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="project">
            <h3>Otro Proyecto</h3>
            <p><b>Descripción del proyecto.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>

    </div>

</body>
</html>
